<script lang="ts">
    import type Category from '../../../shared/interfaces/Category';
    let categories: Category[];
    onload = async () => {
        //@ts-ignore
        categories = await window.api.fetchCategories();
    };

    const deleteSong = (songID: string) => {
        //@ts-ignore
        window.api.deleteSong(songID);
    };

    // Convert a Buffer into a Blob
    function bufferToBlob(buffer: ArrayBuffer, type: string): Blob {
        return new Blob([new Uint8Array(buffer)], { type });
    }
</script>

<main>
    {#if categories}
        {#each categories as category}
            <h1>{category.name}</h1>
            <h2>{category.pointTotal}</h2>
            {#each Array.from(category.songs.values()) as value}
                <button on:click|preventDefault={() => deleteSong(value.id)}>Delete</button>
                <h3>{value.songName}, from {value.gameName}</h3>
                <h4>{value.pointValue}</h4>
                <img src={URL.createObjectURL(bufferToBlob(value.image, value.imageMIME))} alt="Art of the video game" />
                <audio src={URL.createObjectURL(bufferToBlob(value.audio, value.audioMIME))} controls />
            {/each}
        {/each}
    {/if}
</main>

<style>
    img {
        max-width: 100%;
        height: auto;
    }
</style>
